[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "crossrun"]
	path = crossrun
	url = https://github.com/torewentzel-larsen/crossrun
	shallow = true
	registered = true
